@use "../../scss/abstracts/" as *;

.url {
  text-decoration: none;

  .btn {
    display: inline-block;
    min-width: 160px;
    padding: 12px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: 1.5;
    user-select: none;
    border: 1px solid var(--gray--700);
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    color: var(--success);
    transition: 300ms all;
    cursor: pointer;

    &:hover {
      border-color: var(--gray);
      color: var(--gray--900);
    }

    &__primary {
      color: var(--primary);

      &:hover {
        border-color: var(--primary);
        color: var(--primary);
        background-color: var(--primary--600);
      }
    }

    &__success {
      color: var(--success);

      &:hover {
        border-color: var(--success);
        color: var(--success);
        background-color: var(--success--600);
      }
    }

    &__danger {
      color: var(--danger);

      &:hover {
        border-color: var(--danger);
        color: var(--danger);
        background-color: var(--danger--600);
      }
    }

    &__warning {
      color: var(--warning);

      &:hover {
        border-color: var(--warning);
        color: var(--warning);
        background-color: var(--warning--600);
      }
    }

    &__light {
      color: var(--light);

      &:hover {
        border-color: var(--light);
        color: var(--light);
        background-color: var(--light--600);
      }
    }

    &__info {
      color: var(--info);

      &:hover {
        border-color: var(--info);
        color: var(--info);
        background-color: var(--info--600);
      }
    }
  }
}
