*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
  border: 0;
}

ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form,
input,
select,
textarea,
section,
article,
span,
p {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

:focus,
:visited,
:active {
  outline: 0;
  border: 0;
}

html, body {
  height: 100vh;
}

.hr-big {
  margin: 40px 0;
  border: 1px solid $border-color;
}