// color 
$dark: #18191a;
$primary: #2d88ff;
$grey: #202123;
$grey-dark: #888e92;
$light: #ffffff;
$border-color: #393a3b;
$sidebar-color: #b4b5b5;
$twitter-color: #1da1f2;
$white: white;
$question-bg: #1f2021;