// color 
$dark: #18191a;
$primary: #2d88ff;
$grey: #202123;
$grey-dark: #888e92;
$light: #ffffff;
$border-color: #393a3b;
$sidebar-color: #b4b5b5;
$twitter-color: #1da1f2;
$instagram-color: linear-gradient(to left, #405de6, #5851db, #833ab4, #e1306c);
$telegram-color: #3B5998;
$white: white;
$question-bg: #1f2021;
$blog_card_bg: #18191a;
$popup-bg: #1f2122;
$popup-input-bg: #434445;