@use "../../scss/abstracts/" as *;

main {
  display: flex;
  height: calc(100% - 60px);

  .content {
    overflow: auto;
    flex: 1;
    scroll-behavior: smooth;
    scroll-margin-block-start: -100px;
    padding: rem(25) rem(40);

    &-inner {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: rem(15);
        color: var(--light);
        font-size: rem(30);
        font-weight: 600;
      }

      p {
        margin-bottom: rem(15);
        font-size: rem(16);
        line-height: 1.7;
        color: var(--light);
      }
    }
  }
}
