// Colors

:root {
  --dark: hsl(218, 32%, 15%);
  --dark-Dark: hsl(218, 39%, 11%);
  --primary: hsl(214, 100%, 59%);
  --primary--900: hsla(214, 100%, 59%, 0.753);
  --primary--800: hsla(214, 100%, 59%, 0.53);
  --primary--700: hsla(214, 100%, 59%, 0.296);
  --primary--600: hsla(214, 100%, 59%, 0.223);
  --success: hsl(80, 100%, 47%);
  --success--900: hsla(80, 100%, 47%, 0.737);
  --success--800: hsla(80, 100%, 47%, 0.507);
  --success--700: hsla(80, 100%, 47%, 0.307);
  --success--600: rgba(160, 240, 0, 0.138);
  --danger: hsl(355, 77%, 54%);
  --danger--900: hsla(355, 77%, 54%, 0.752);
  --danger--800: hsla(355, 77%, 54%, 0.529);
  --danger--700: hsla(355, 77%, 54%, 0.3);
  --danger--600: hsla(355, 77%, 54%, 0.148);
  --info: hsl(261, 44%, 51%);
  --info--900: hsla(261, 44%, 51%, 0.784);
  --info--800: hsla(261, 44%, 51%, 0.555);
  --info--700: hsla(261, 44%, 51%, 0.425);
  --info--600: hsla(261, 44%, 51%, 0.177);
  --warning: hsl(44, 100%, 50%);
  --warning--900: hsla(44, 100%, 50%, 0.752);
  --warning--800: hsla(44, 100%, 50%, 0.589);
  --warning--700: hsla(44, 100%, 50%, 0.349);
  --warning--600: hsla(44, 100%, 50%, 0.166);
  --gray: hsl(222, 17%, 57%);
  --gray--900: hsl(221, 29%, 72%);
  --gray--800: hsla(222, 17%, 57%, 0.622);
  --gray--700: hsla(222, 17%, 57%, 0.34);
  --light: hsl(0, 0%, 100%);
  --light--600: hsla(0, 0%, 100%, 0.182);

  --twitter-color1: hsl(203, 89%, 53%);
  --twitter-color2: hsl(221, 83%, 53%);
  --instagram-color: linear-gradient(
    to left,
    hsl(230, 77%, 58%),
    hsl(243, 66%, 59%),
    hsl(276, 51%, 47%),
    hsl(340, 75%, 54%)
  );
  --telegram-color: hsl(221, 44%, 41%);
}
