.sidebar {
    display: block;
    background-color: $dark;
    width: 250px;
    min-width: 250px;border-right: 1px solid $border-color;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 300ms width, 300ms min-width;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-x: hidden;


    @media (max-width: 1197px) {
      visibility: hidden;
      display: none;

      &.active {
        visibility: visible;
        display: block;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 15;
        width: 100%;
      }
    }
  
    
    

  ul {
    padding: 0 10px;

    li {
      margin-bottom: 5px;

      a {
        display: flex;
        align-items: center;
        padding: 9px 12px;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        color: $sidebar-color;
        font-size: 15px;
        font-weight: 500;
        border-radius: 4px;

        &:hover {
          background-color: $grey;
          color: $light;
        }
      }
    }
  }

  .sidebar-hr {
    margin: 20px 0;
    height: 1px;

    @media (max-width: 1197px) {
      background-color: $border-color;
    }

  }


}